@font-face {
  font-family: 'MetropolisRegular';
  src: url("../fonts/fontRegular/MetropolisRegular.eot");
  src: url("../fonts/fontRegular/MetropolisRegular.eot") format("embedded-opentype"), url("../fonts/fontRegular/MetropolisRegular.woff2") format("woff2"), url("../fonts/fontRegular/MetropolisRegular.woff") format("woff"), url("../fonts/fontRegular/MetropolisRegular.ttf") format("truetype"), url("../fonts/fontRegular/MetropolisRegular.svg#MetropolisRegular") format("svg");
}
body {
  font-family: "MetropolisRegular" !important;
}

a {
  color: #000;
  font-style: bold !important;
  font-size: .8rem;
}
a:hover {
  color: rgba(0, 0, 0, 0.781);
}

span {
  font-size: .8rem;
}

h1 {
  font-weight: bold;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

p {
  font-size: .8rem;
}

button, a.btn-a, .content .content-details button {
  font-size: 0.8em;
  transition: all 500ms;
  min-width: 70px;
  padding: .5rem 1rem;
}
button:focus, a.btn-a:focus, .content .content-details button:focus {
  outline: none;
}

.empty-btn {
  background-color: transparent;
  color: #000 !important;
  border: 1px solid black;
}
.empty-btn:hover {
  background-color: #000 !important;
  color: white !important;
}

.full-width-btn {
  width: 100% !important;
  font-size: 1rem;
  padding: .6rem;
}

.filled-btn {
  background-color: #000 !important;
  color: white !important;
  border: 1px solid black;
}
.filled-btn:hover {
  background-color: transparent !important;
  color: #000 !important;
}

.card {
  background-color: transparent;
  border: none;
}
.card .card-header {
  padding: 0;
  background-color: transparent;
}
.card .card-header {
  position: relative;
}
.card .card-header .hidden {
  opacity: 0;
  transition: all 500ms ease-out;
}
.card .card-header .hidden img {
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-header .hidden .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.6rem 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.795);
}
.card .card-header .hidden:hover {
  opacity: 1;
}
.card .card-body {
  text-align: center;
  font-size: 0.7rem;
  color: #727272;
  text-transform: uppercase;
}
.card .card-body a {
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}
.card .card-body p span.cross-sale {
  text-decoration: line-through;
}

ul {
  font-size: 0.7rem;
}
ul li {
  list-style: none;
}
ul li span a img {
  width: 10%;
}
ul li.label {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.form-group {
  border: 1px solid #efefef;
  padding: 2px 8px;
}
.form-group label {
  margin: 0 !important;
  color: #333;
  font-size: 0.8rem;
}
.form-group select, .form-group input {
  border: none !important;
}
.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.form-group input {
  padding: .8rem;
  height: 0 !important;
}

.navbar .navbar-brand img {
  height: 50px;
  width: 100px;
}
.navbar button, .navbar a.btn-a, .navbar .content .content-details button, .content .content-details .navbar button {
  background-color: transparent;
}
.navbar .nav-link {
  font-size: .9rem;
  color: #292929 !important;
}
.navbar .nav-link:hover {
  color: rgba(41, 41, 41, 0.678) !important;
}
.navbar .collapse-content {
  position: absolute;
  display: none;
  background-color: white;
  top: 50px;
  left: 200px;
  padding: 1rem;
  text-align: left;
  transition: all 100ms ease-in-out;
}
.navbar .collapse-content .col-lg-3 {
  width: 200px;
}
.navbar .collapse-content .col-lg-3 img {
  width: 250px;
  height: auto;
  margin: 5px 0;
}
.navbar .collapse-content ul {
  padding: 0;
}
.navbar .collapse-content ul li {
  margin: .2rem 0;
}
.navbar .collapse-content ul li a {
  color: #333;
}
.navbar .collapse-content ul li.label {
  margin: .8rem 0;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
}
.navbar .collapse-content ul li.label a {
  color: black;
  text-decoration: underline;
}
.navbar .collapse-content.active {
  display: block;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  width: 100%;
  margin: 1rem 0 !important;
  padding: 0 1rem;
}
.row .col-lg-6 {
  margin: .5rem 0;
}

.footer {
  padding: 2rem 0 !important;
  background-color: #efefef;
}
.footer ul.info {
  text-align: center;
  padding: 0;
}
.footer ul.info li {
  line-height: 1.5rem;
}
.footer ul.info li p {
  font-size: 0.7rem;
}
.footer ul.info li p strong {
  font-size: 0.8rem;
}
.footer ul.info li.label {
  margin: 0;
  font-size: 1rem;
}
.footer .footer-bottom {
  height: 40px;
}
.footer .footer-bottom ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.footer .footer-bottom ul li {
  font-size: 15px;
  margin-right: 4px;
}

.main-container .container h1 {
  padding: 5.5rem 0;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  overflow: hidden;
}
.content .content-overlay {
  background: rgba(255, 255, 255, 0.664);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 1;
}
.content .content-image {
  width: 99%;
}
.content .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content .content-details h5 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content .content-details h5 i {
  font-size: 2rem !important;
  color: black !important;
}
.content .content-details a.btn-a, .content .content-details button {
  color: #000;
  padding: 0.3rem 1rem;
}
.content:hover .content-details {
  opacity: 1;
}

.ig-images {
  background-color: #efefef;
}
.ig-images h1 {
  text-align: center;
  padding: 2rem 1rem;
}
.ig-images h1 span {
  text-decoration: underline;
}
.ig-images .row {
  padding: 0 2rem;
}
.ig-images .row .col-lg-2 {
  padding: .3rem;
  height: clamp(250px, 100vw, 150px) !important;
}
.ig-images .bottom-text h1 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
}

.text-container {
  margin: 2rem 0;
}
.text-container .container {
  padding: 1rem 1rem;
}
.text-container .container .headline {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.text-container .container div {
  text-align: left;
  font-size: 0.7rem;
  line-height: 1.7rem;
  word-spacing: 2px;
}
.text-container .container div span {
  font-weight: bold;
}

.newsletter {
  background-color: #e6e6e6;
  padding: 1rem 0 !important;
}
.newsletter form {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter input, .newsletter button, .newsletter a.btn-a, .newsletter .content .content-details button, .content .content-details .newsletter button {
  position: relative;
  top: 0;
}
.newsletter label {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 1rem;
}
.newsletter input {
  display: inline-block;
  background-color: white;
  border: 1px solid #aaa;
  padding: .5rem 1rem;
}
.newsletter button, .newsletter a.btn-a, .newsletter .content .content-details button, .content .content-details .newsletter button {
  background-color: #333;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  border: 1px solid #333;
  padding: 1rem 2rem;
}
.newsletter button:hover, .newsletter a.btn-a:hover {
  text-decoration: underline;
}

.name .product-name {
  font-weight: normal;
}
.name .product-detail {
  font-size: 0.8rem;
  font-weight: bold;
}

.product-info {
  margin-left: 20px;
}
.product-info *:not(button, a.btn-a, i) {
  padding: 5px 0;
}
.product-info .selected {
  font-weight: bold;
}
.product-info .selected span {
  font-weight: normal;
  padding: 0;
  line-height: 0;
}
.product-info a:not(.info a, .card a) {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 100px;
  line-height: 0;
}
.product-info a:not(.info a, .card a).active {
  background-color: #000;
  color: white;
}
.product-info .size .info {
  font-size: 0.6rem;
  padding: 5px;
}
.product-info .size .info * {
  padding: 0 5px;
}
.product-info .color a {
  padding: 2px !important;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.product-info .buttons i {
  font-size: 1rem;
  line-height: 0;
}
.product-info div small {
  padding: 0;
  font-size: 0.5rem;
}
.product-info .accordion {
  max-width: 300px;
}
.product-info .accordion .card-header h6.font-weight-bold {
  margin: 0;
  padding: 0;
  font-size: .8rem;
}
.product-info .accordion .card-body p {
  font-size: .6rem;
}

.modal {
  width: 100%;
}
.modal .modal-body h1.heading {
  padding: 1rem 0;
  text-align: center;
  font-size: .9rem;
}
.modal .modal-body .col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.modal .modal-body .col-lg-6 .name {
  text-align: center;
}
.modal .modal-body .col-lg-6 .name h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}
.modal .modal-body .col-lg-6 .name .price {
  font-size: .8rem;
  font-weight: bold;
}

.HelpingPage .leftmenu {
  background-color: #efefef;
  padding: 1% 1%;
}
.HelpingPage .leftmenu ul {
  list-style-type: none;
}
.HelpingPage .leftmenu ul li {
  font-size: 13   px;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
}
.HelpingPage .leftmenu ul li:active {
  text-decoration: underline;
}
.HelpingPage .center {
  padding-left: 2%;
  padding-right: 4%;
}
.HelpingPage .center ul {
  font-size: 15px;
}
.HelpingPage .center ul li {
  list-style-type: disc;
  margin-top: 6px;
}
.HelpingPage .Privacy .label {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1.5%;
}

.shopping-bag table tr td {
  vertical-align: middle !important;
}
.shopping-bag table tr td.items {
  max-width: 300px;
}
.shopping-bag table tr th {
  font-size: .8rem;
  font-weight: normal;
}
.shopping-bag table tr .actions a {
  display: block;
}
.shopping-bag .total .payment-brands .links * {
  padding-right: 10px;
}
.shopping-bag .total .payment-brands p {
  margin: 5px 0;
  font-size: .8rem;
  font-weight: bold;
}
.shopping-bag .total .payment-brands .contact p {
  display: inline;
  margin-right: 10px;
}

.brand-logos img {
  width: 50px;
}

.payment-calc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.payment-calc div span {
  display: inline-block;
  margin: 5px 0;
}
.payment-calc div span a {
  text-decoration: underline;
}
.payment-calc div.promo {
  margin: 10px 0;
}
.payment-calc div.promo input {
  border: none;
}
.payment-calc div.promo input:focus {
  outline: none;
}

.signin {
  padding: 4rem 0 !important;
}
.signin .row {
  padding: 0 !important;
  margin: 0 !important;
}
.signin .row .col-lg-6 {
  margin: 0 !important;
}
