.clothing {
	.card {
		.card-header {
			position: relative;

			.hidden {
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
				.text {
					position: absolute;
					bottom: 0;

					width: 100%;
					padding: 0.6rem 0;

					text-align: center;
					font-size: 0.8rem;

					background-color: rgba(255, 255, 255, 0.795);
				}
				opacity: 0;
				transition: all 500ms ease-out;

				&:hover {
					opacity: 1;
				}
			}
		}
		.card-body {
			text-align: center;
			font-size: 0.7rem;
			color: $gray-text;
			text-transform: uppercase;

			
				a {
					font-size: inherit;
					font-weight: normal;
                    color: inherit;
                    text-decoration: none;
				}
			p {
				span.cross-sale {
					text-decoration: line-through;
				}
			}
		}
	}
}
